capacitor-google-map {
  display: block;
  width: 100%;
  height: 100%;
  /* Prevents browser handling of touch gestures to avoid the [Intervention] warning */
  touch-action: none;
}

ion-content {
  --background: transparent;
  /* Disable Ionic scroll to avoid conflicts with map gestures */
  --overflow: hidden;
  overflow: hidden;
}
